/* Notice the "grid-area" */
.webpage {
    display: grid;
    gap:20px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 40px auto 120px;
    grid-template-areas:
      "sidebar  header"
      "sidebar  main"
      "footer   footer";
  }
  /* Used in the following rulesets */
  .header {
    grid-area: header;
  }
  .main {
    grid-area: main;
  }
  .footer {
    grid-area: footer;
  }
  .sidebar {
    grid-area: sidebar;
  
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .profile-pic {
    width: 100%;
    border-radius: 50%;
  }
  .profile {
      display: flex;
      flex-direction: column;
      justify-content: center; 
      gap: 2px; 
  }
  .name {
    font-size: larger;
    font-weight: bold;
    margin: 5px 0px;
  }
  .user-name {
    color: white;
  }
  .side-item {
    text-align: right;
    font-size: large;
  }
  .side-item:hover {
    font-weight: bold;
    color: #588157;
  }
  
  /* Insert @Media queries here! */
  @media(max-width:992px){
    .sidebar{
      grid-area: header;
      flex-direction: row;
      justify-content: flex-start;
      gap:0px;
      align-content:start;
    }
    .profile{
      flex-direction: row;
    }
    .side-item{
      display: none;
    }
  }
  @media(max-width:1200px){

  }